@page "/"

<h3>Chaves Guardadas</h3>

<MudTable Items="@Elements" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Titulo</MudTh>
        <MudTh>Senha</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Titulo">@context.Title</MudTd>
        <MudTd DataLabel="Senha">@context.Password</MudTd>
    </RowTemplate>
</MudTable>